<div class="fixed">
	<nav class="top-bar top-nav">
		  <ul class="title-area">
		  	<li class="name">
		  		<h1 class="name-header">JIMMY WONG</h1>
		  	</li>
		  </ul>
	</nav>
</div>

<div class="row">
	<div class="small-3 columns">
		<div class="row">
			<div class="center photo">
				<img id="photo" src="http://www.gravatar.com/avatar/c321d409e48b7b1f6553d4c96668e011?s=300"/>
			</div>
		</div>
		<div class="row">
			<div class="center">
				<ul class="list">
					<li class="listItem"><a class="listText" href="http://www.linkedin.com/pub/jimmy-wong/18/5a2/419">Linked in</a></li>
					<li class="listItem"><a class="listText" href="https://github.com/jimwong1023">GitHub</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="small-9 columns">
		<h1>Web Developer</h1>
		<h4>Ruby, Ruby on Rails, JavaScript, HTML, CSS</h4>
		<h6>Backbone.js - Coming Soon...</h6>
	</div>
</div>