<div class="fixed">
	<nav class="top-bar">
	  <ul class="title-area">
	  	<li class="name">
	  		<h1><a href="#">Jimmy Wong</a></h1>
	  	</li>
	  </ul>
	</nav>
</div>

<div class="row">
	<div class="small-3 columns photo">
		<img src="http://www.gravatar.com/avatar/c321d409e48b7b1f6553d4c96668e011?s=250"/>
	</div>
</div>

<div class="row">
	<div class="small-3 columns">
		<div>Blahblahblah</div>
	</div>
</div>