<div class="fixed">
	<nav class="top-bar top-nav">
		  <ul class="title-area">
		  	<li class="name">
		  		<h1 class="name-header">JIMMY WONG</h1>
		  	</li>
		  </ul>
	</nav>
</div>

<div class="row">
	<div class="small-3 columns">
		<div class="row">
			<div class="center photo">
				<img id="photo" src="http://www.gravatar.com/avatar/c321d409e48b7b1f6553d4c96668e011?s=300"/>
			</div>
		</div>
		<div class="row">
			<div class="center">
				<ul class="list">
					<a class="listText" href="http://www.linkedin.com/pub/jimmy-wong/18/5a2/419">Linked in</a>
					<a class="listText" href="https://github.com/jimwong1023">GitHub</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="small-9 columns">
		<h1>Web Developer</h1>
		<h4>Ruby, Ruby on Rails, JavaScript, HTML, CSS</h4>
		<h6>Backbone.js - Coming Soon...</h6>
		<section>
			<h6>I Get Things Done</h6>
			<ul id="body-list">
				<li>Ex-finance guy looking to improve the world through software</li>
				<li>Learned the fundamentals of web development in nine weeks through Dev Bootcamp</li>
				<li>World class beginner in Ruby, Ruby on Rails, JavaScript, HTML, and CSS</li>
				<li>Confident in my ability to eventually be counted among the very best on your team given some guidance</li>
				<li>I work hard to be the best - Consecutively passed all three levels of the CFA curriculum while working a full-time job. CFA institute recommends a minimum of 200 hours of study for each level. Recent pass rates range from 30 - 40 percent per level</li>
				<li>People consistently tell me I'm an "awesome teammate and leader"</li>
			</ul>
		</section>
	</div>
</div>